{% extends 'errors/layout.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block body %}

    <h1 class="mt-5">Accès interdit.</h1>
    <div class="subheading mb-5">Vous n'êtes pas autorisé à accéder à cette page.</div>
    <img src="/assets/img/forbidden.jpg">

{% endblock %}