<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Sécurité</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        p {
            color: #444;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Politique de Sécurité</h1>
        <p>Je prends la sécurité très au sérieux. Cette politique de sécurité décrit mes engagements en matière de sécurité des informations et les mesures que je prends pour protéger mes systèmes et les données de mes utilisateurs.</p>
        <h2>Engagements</h2>
        <p>Je m'engage à :</p>
        <ul>
            <li>Protéger les données de mes utilisateurs contre tout accès non autorisé.</li>
            <li>Veiller à ce que mes systèmes soient sécurisés et à jour pour prévenir les vulnérabilités connues.</li>
            <li>Respecter les réglementations en matière de protection des données.</li>
            <li>Me former sur les bonnes pratiques de sécurité informatique, mais je débute, il y a forcément des failles.</li>
            <li>Répondre rapidement et efficacement aux incidents de sécurité.</li>
        </ul>
        <h2>Mesures de Sécurité</h2>
        <p>Je mets en place les mesures suivantes pour assurer la sécurité :</p>
        <ul>
            <li>Chiffrement des données sensibles en transit et au repos.</li>
            <li>Mise en place de pare-feu et de systèmes de détection d'intrusion.</li>
            <li>Authentification forte pour l'accès aux comptes sensibles.</li>
            <li>Mise à jour régulière des logiciels et des systèmes.</li>
            <li>Surveillance constante des activités suspectes</li>
            <li>Supprimer tout message ou note qui me parait supect.</li>
        </ul>
        <p>Je travaille continuellement à améliorer ma sécurité et j'encourage mes utilisateurs à signaler tout problème de sécurité potentiel.</p>
        <p>Pour toute question ou préoccupation concernant ma politique de sécurité, veuillez me contacter à l'adresse <strong>contact@aliboron.net</strong>.</p>
    </div>
</body>
</html>