<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recrutement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .entry {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .entry h2 {
            margin-top: 0;
            color: #666;
        }
        .entry p {
            margin-bottom: 0;
            color: #444;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Offres d'emploi</h1>
        
        <h2>Opportunités de carrière</h2>
        <p>Rejoignez mon équipe et contribué à élaboré des projets qui ne veront pas le jour. Voici les postes disponibles :</p>
        <ul>
            <li><strong>Dresseur de licornes :</strong> Responsable de l'élevage et de l'entraînement des licornes pour des performances magiques inégalées.</li>
            <li><strong>Chef explorateur de galaxies lointaines :</strong> Chargé de découvrir de nouvelles civilisations, de voyager dans l'espace et de rapporter des histoires intergalactiques passionnantes.</li>
            <li><strong>Maître des câlins de panda :</strong> Expert en câlins de panda, chargé de répandre la joie et la douceur parmi les pandas du monde entier.</li>
            <li><strong>Architecte de châteaux de sable professionnels :</strong> Spécialiste de la construction de châteaux de sable époustouflants sur les plages les plus magnifiques du monde.</li>
            <li><strong>Chef chocolatier cosmique :</strong> Créateur de délices chocolatés extraterrestres, chargé d'explorer de nouvelles saveurs dans l'univers infini du chocolat.</li>
        </ul>

        <h2>Comment postuler</h2>
        <p>Si l'un de ces postes vous intéresse, veuillez envoyer votre CV accompagné d'une lettre de motivation à l'adresse email suivante : <strong>jobs@aliboron.net</strong>.</p>
        
        <p>Nous recherchons des candidats motivés, passionnés par la sécurité informatique et désireux de contribuer à la protection de nos systèmes et de nos utilisateurs.</p>
    </div>
</body>
</html>
