{% extends 'web/layout.html.twig' %}
{% set months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"] %}
{% block content %}
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Mes Notes</h1>  
        <div>        
            {% if notes %}
                {% for note in notes %}
                    <p>{{ note.message|raw }}</p>
                {% endfor %}
            {% endif %}
        </div>  
    </div>
</section>
{% endblock %}
